<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Courses Management System</display-name>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.mycompany.hello.HelloServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.DownloadServlet</servlet-class>
	</servlet>



	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.LoginServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>PublicServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.PublicServlet</servlet-class>
	</servlet>
	
		
	<servlet>
		<servlet-name>AddCourseServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.AddCourseServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>FetchModulesServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.FetchModulesServlet</servlet-class>
	</servlet>



	<servlet>
		<servlet-name>ModulesServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.ModulesServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>DownloadModuleServlet</servlet-name>
		<servlet-class>com.coursemanagement.web.DownloadModuleServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DownloadPDF</servlet-name>
		<servlet-class>com.coursemanagement.web.DownloadPDF</servlet-class>
	</servlet>
		
</web-app>
